html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(todo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    
    

}

.container {
    width: 800px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#inputField {
    width: 300px;
    height: 60px;
    border-width: 0;
    border: 3px;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: -5px 5px 7px 0px rgba(42,42,42,.75);
    margin: 20px;
    background-color: #FAEBD7;

}

#addToDo {
    height: 60px;
    width: 60px;
    border: 3px;
    vertical-align: middle;
    font-size: 40px;
    border-radius: 8px;
    box-shadow: -5px 5px 7px 0px rgba(42,42,42,.75);
    background-color: #FAEBD7;
    font-weight: bold;
    color: #8B4513;

}
#addToDo :hover{
    background-color: #FFDAB9;
    cursor: grabbing;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 30px;
}

.to-dos {
    margin-top: 25px;
}
#todo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}