*{
    padding: 0;
    margin: 0;
    margin-left: 3px;
}
body{
    background-image: url("virat kohli.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#king{
    margin-top: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
    
    
}
#introduction{
    
    margin-top: 20px;
    width: 850px;
}
#intro{
    margin-top: 5px;
    font-size: 12.5pt;
}
#background{
    margin-top: 3px;
    width: 59rem;
    margin-top: 6px;
}
#bg{
    margin-top: 5px;
    font-size: 12.5pt;
}
#runs{
    margin-top: 5px;
    margin-bottom: 5px;
}
.matches{
    height: 30px;
    width: 150px;
    background-color: azure;
    padding: 0;
    margin: auto;
}
.matchesrun{
    height: 30px;
    width: 150px;
    background-color: #f0f8ff;
    padding: 0;
    margin: auto;
}
#runtable{
    padding: 0;
    text-align: center;
    font-weight: bold;
}
.match_century{
    height: 30px;
    width: 150px;
    background-color: azure;
    padding: 0;
    margin: auto;
    font-weight: bold;
}
.century{
    height: 30px;
    width: 150px;
    background-color: #f0f8ff;
    padding: 0;
    margin: auto;
    font-weight: bold;
}
.achievement{
    font-size: 12.5pt;
    padding: 0;
    margin-top: 6px;
}
